p 
{
font-size:36px;
font-family:"Arial";
}

#team_name
{
font-size:24px;
}

#team_name
{
font-size:24px;
text-align:center;
font-family:"Arial";
border:0px;
}

#no-outline
{
border:0px;
vertical-align:top;
padding-bottom:30px;
}
